* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    background-color: #00ffca21;
}

.nav {
    background: #0A4D68;
    color: #FFF;
    display: flex
}

.nav .logo {
    font-size: 24px;
    padding: 20px;
    margin-left: 25px
}

.nav .logo a {
    color: #FFF;
    text-decoration: none
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 8rem 0 auto;
}

.nav-links {
    position: relative;
    color: #eee;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 12px;
    margin: 0 18px;
}

.nav-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.2s ease-out;
    background-color: #05BFDB;
}

.nav-links:hover::before {
    width: 100%;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #00054f;
    margin-top: 4rem;
}

section {
    height: 80vh;
}

#tips {
    text-align: start;
    margin: 3rem 12rem;
}

section p {
    color: #05BFDB;
    font-size: larger;
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
    margin: 2rem 0;
}

footer {
    background-color: #00446f;
    color: whitesmoke;
    height: 15rem;
}

footer h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

footer p {
    width: 39%;
    text-align: justify;
    color: #859ec6;

}

#links {
    position: absolute;
    right: 30%;
    margin-top: 2rem;
}

.about {
    position: absolute;
    left: 14rem;
    margin-top: 2rem;
}

.quicklinks {
    list-style-type: none;
}

.quicklinks a {
    position: relative;
    color: #eee;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.2s;
}

.quicklinks li {
    margin: 0.5rem 0 0 1rem;

}

.quicklinks a:hover {
    color: #859ec6;
}
